@CHARSET "UTF-8";

* { 
	margin: 0px; 
	padding:0px;
	font-family:Arial, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height:16px; 
}

body {
	margin: 20px; 
}

h1,h2,h3,h4,h5 {
	font-weight:bold;
}

h1 {
	font-size:18px;
	line-height:26px;
	margin-top:18px;
	margin-bottom:10px;
}
h2 {
	font-size:16px;
	line-height:22px;
	margin-top:16px;
	margin-bottom:8px;
}

h3 {
	font-size:14px;
	line-height:18px;
	margin-top:14px;
	margin-bottom:6px;
}

div.canvas {
	text-align: center;
}

ul, ol {
	padding-left:20px;
}

li {
	padding-top:4px;
	padding-bottom:4px;
}

pre, code {
	font-family:Menlo, Courier, monospace;
	font-size:11px;
	font-weight:bold;
}
pre {
	padding:6px;
	border:1px solid #9ab;
	background-color:#def;
}

b * {
	font-weight:bold;
}

i * {
	font-style:italic;
}

