.main{
	width:1024px;
	text-align:center;	
	margin: 0 auto;
}
h1.caption_1{
  padding-left: 0px; /*The padding is just there to move the h1 element to the center of the div */
  padding-top: 17px;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: #0D4383;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;

}
h2.caption_2{
  padding-left: 0px; /*The padding is just there to move the h1 element to the center of the div */
  padding-top: 0px;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #0D4383;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
.dijitAccordionText{
  font-family: Verdana, Arial, "Times New Roman";
  font-size: 9px;
}
.dijitDialogTitle{
  font-family: Verdana, Arial, "Times New Roman";
  font-size: 9px !IMPORTANT;
}
.claro .dijitDialogTitle {
    color: #0D4383 !important;
}
.dijitAccordionTitle {
    color: #0D4383 !important;
}

.claro .dijitSplitContainer-dijitContentPane, .claro .dijitBorderContainer-dijitContentPane{
    padding: 0px !IMPORTANT;
}

div.caption_2{
  z-index:2;
}
.textarea{
	width:475px;
    min-height:440px;
    max-height:440px;
    border: none;
}

.parse{
	float:left;
	padding-left:10px;
	padding-right:10px;
	/*width:25%;*/
	position:relative;	
}


.canvas div{
	color:white;
}

.iconDelete{
    background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
    background-image: url('../img/delete_16.png');
}
.iconParse{
    background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
    background-image: url('../img/process_accept_16.png');
}
.iconUpload{
    background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
    background-image: url('../img/upload_16.png');
}
.iconHelp{
    background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
    background-image: url('../img/help_16.png');
}
.dijitDialogPaneContent{
  font-family: Verdana, Arial, "Times New Roman";
  font-size: 9px;
  color: #0D4383 !important;
}

body{
	background: #CCFFCC; /*alternative Hintergrundfarbe f�r IE*/
	background: -webkit-gradient(linear, 0 0, 0 20%, from(#CCFF66), to(#fff));
	background: -moz-linear-gradient(-90deg,#003471, #fff  20%);
		
	height: 100%;
  margin: 0;
  background-repeat: no-repeat;


}

