<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <link rel="stylesheet" type="text/css" href="../../dijit/themes/claro/claro.css"/>
</head>
<body>
    <canvas id="canvas"></canvas>
</div>
</body>
</html>
    <script type="text/javascript" src="../../dojo/dojo.js"></script>
    <script type="text/javascript" src="uiController.js"></script>
    <!-- only for google chrome -->
    <script type="text/javascript" src="../../ext/glMatrix.js"></script>
    <script type="text/javascript" src="../../ext/matrixStack.js"></script>

    