<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>COG WebGL Template</title>
	<link rel="stylesheet" type="text/css" href="../../css/webGL.css">
	<link rel="stylesheet" type="text/css" href="my.css">
</head>

<body>

	<h1>COG WebGL Template</h1>
	
	<div class="part">
		<h3>Keys:</h3>
		Rectangle<br>
		<div class="key" id="irs"><span class="key">+</span></div> Increase rotation speed<br>
		<div class="key"><span class="key">-</span></div> Decrease rotation speed<br>
		Camera<br>
		<div class="key"><span class="key">&larr;</span></div> Shift left<br>
		<div class="key"><span class="key">&rarr;</span></div> Shift right<br>
		<div class="key"><span class="key">&uarr;</span></div> Fly forward<br>
		<div class="key"><span class="key">&darr;</span></div> Fly backward<br>
		<br>
		
		<h3>Start & stop time:</h3>
		<button id="startButton">Start</button><br>
		<button id="stopButton">Stop</button><br>
		<br>
		
		<h3>Mouse:</h3>
		Move left, right, up and down for<br>
		changing your view direction.
	</div>
	&nbsp;&nbsp;&nbsp;
	<div class="part">
		<div class="canvas">
			<canvas id="canvas"></canvas>
		</div>
	</div>
	


</body>
</html>
<script type="text/javascript" src="../../app/import.js"></script>
    <script type="text/javascript" src="../../ext/glMatrix.js"></script>
    <script type="text/javascript" src="../../ext/matrixStack.js"></script>
    <script type="text/javascript" src="../../scene/scene.js"></script>
    <script type="text/javascript" src="../../app/app.js"></script>
    <script type="text/javascript" src="../../scene/shader.js"></script>
    <script type="text/javascript" src="../../scene/nodes.js"></script>
    <script type="text/javascript" src="../../scene/cameraNodes.js"></script>
    <script type="text/javascript" src="../../scene/basicShapeNodes.js"></script>
    <script type="text/javascript" src="../../dojo/dojo.js"></script>

    <script type="text/javascript" src="uiController.js"></script>