<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>COG WebGL Template</title>
	<link rel="stylesheet" type="text/css" href="../../css/webGL.css">
	<link rel="stylesheet" type="text/css" href="my.css">
	
	<script type="text/javascript" src="../../app/import.js"></script>
</head>

<body onload="new BGE.MyApp().start('canvas');">

	<h1>COG WebGL Template</h1>
	
	<div class="part">
		<h3>Keys:</h3>
		Rectangle<br>
		<div class="key" id="irs"><span class="key">+</span></div> Increase rotation speed<br>
		<div class="key"><span class="key">-</span></div> Decrease rotation speed<br>
		Camera<br>
		<div class="key"><span class="key">&larr;</span></div> Shift left<br>
		<div class="key"><span class="key">&rarr;</span></div> Shift right<br>
		<div class="key"><span class="key">&uarr;</span></div> Fly forward<br>
		<div class="key"><span class="key">&darr;</span></div> Fly backward<br>
		<br>
		
		<h3>Start & stop time:</h3>
		<button id="startButton">Start</button><br>
		<button id="stopButton">Stop</button><br>
		<br>
		
		<h3>Mouse:</h3>
		Move left, right, up and down for<br>
		changing your view direction.
	</div>
	&nbsp;&nbsp;&nbsp;
	<div class="part">
		<div class="canvas">
			<canvas id="canvas"></canvas>
		</div>
	</div>
	
	<div>
		<a href="../../index.html">Back to main page</a>
	</div>
	
<!-- 	
<script id="shader-vs" type="x-shader/x-vertex"> 
	attribute vec3 aVertexPosition;
 
	uniform mat4 uMVMatrix;
	uniform mat4 uPMatrix;
 
	void main(void) {
    	gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
  	}
</script> 
	
<script id="shader-fs" type="x-shader/x-fragment">
   	#ifdef GL_ES
    	precision highp float;
    #endif
    void main(void) {
        gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
    }
</script>
-->

</body>
</html>
