div.part {
	line-height:25px;
	display:inline-block;
	position:relative;
	vertical-align:top;
}

div.key {
	line-height:25px;
	display:inline-table;
	position:relative;
	width:20px;
	height:20px;
	border:1px solid;
	background-color:#bbb;
	text-align:center;
	vertical-align:middle;
	border-left-color:#ddd;
	border-top-color:#eee;
	border-right-color:#999;
	border-bottom-color:#888;
}

span.key {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

span#key {
	font-weight:bold;
	padding:2px;
	border:1px solid #9ab;
	background-color:#def;
}
span#count {
	font-weight:bold;
	padding:2px;
	border:1px solid #9ab;
	background-color:#def;
}

pre, p {
	margin-left:14px;
}